.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
}

.Container:hover {
  background-color: rgba(112, 112, 112, 0.1);
}

.Avatar {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  flex-grow: 1;
  color: #2699fb;
  font-weight: bold;
}

.sign {
  font-size: 12px;
  text-transform: capitalize;
}

.amount {
  font-size: 24px;
  font-weight: bold;
}

.balance {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.owed {
  color: #3ebc2e;
}

.owe {
  color: #ff6f00;
}
