.Container {
  display: flex;
  padding: 1em 2em;
}

.Container:hover {
  background-color: rgba(112, 112, 112, 0.1);
}

.Column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.AvatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
}

.Name {
  color: #2699fb;
  font-size: 20px;
  font-weight: bold;
}

.Message {
  color: #707070;
  font-size: 15px;
}

.Date {
  color: #707070;
  opacity: 0.5;
}
